@page "/"
@inherits IndexBase

<a href="AddMem" class="btn btn-outline-primary">
    <span class="oi oi-plus">
    </span></a>
<br />

@if (Memes == null)
{
<div class="spinner"></div> }
            else
            {
<ul class="memes">

    @foreach (var mem in Memes)
    {

<li style="background-image: url('@mem.ImagePath')">

    <a href="MemProfile/@mem.Id">
        <div class="memes-info">
            <span class="title">@mem.Name</span>
            @mem.Description

        </div>
    </a>
</li>}
</ul>}





