@using System.IO
@using Tewr.Blazor.FileReader

@inherits UploadImageBase

<div class="row">
    <div class="col-4">

        <div class="form-group">
            <input type="file" class="form-control-file" @ref="inputReference" @onchange="async ()=> await OpenFileAsync()" />
            <ul>
                <li>Имя файла: @fileName</li>
                <li>Размер файла: @size</li>
                <li>Тип файла: @type</li>
            </ul>
        </div>

        @if (!string.IsNullOrEmpty(message))
        {
<div class="alert alert-success">
    @message
</div> }
            else
            {
<button class="btn btn-block btn-outline-success" @onclick="async ()=> await UploadFileAsync()">Загрузить файл</button>}
    </div>
    @if (imagePath != null)
    {
<div class="col-4">
    <img style="width:150px" src="@imagePath" />
</div>}

</div>

